/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #303030;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.add-item {
  margin-top: 23px;
}

.main-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-item__input,
.task-wraper {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__div {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
}

.ul {
  margin: 0;
  padding: 0px;
}

.task,
.h3 {
  list-style: none;
}

.task__input,
.add-item__input,
.task__btn,
.add-item__btn {
  outline: none;
}

.task__btn,
.add-item__btn {
  background: none;
  border: 0px;
  color: #808080;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.task__btn:hover,
.add-item__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.h3,
.task__label[for="add-item__new-task-input"] {
  color: #303030;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #303030;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__input[type="text"],
.add-item__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #808080;
}

.task__input[type="text"]:focus,
.add-item__input:focus {
  color: #303030;
}


/* New Task */
.task__label[for="add-item__new-task-input"] {
  display: block;
  margin: 0 0 20px;
}

#add-item__new-task-input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  vertical-align: middle;
}

.task > .task__input[type="checkbox"] {
  margin: 0 10px;
}

.task > .task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task > .task__input[type="text"] {
  width: 226px;
}

.task__btn.task__delete .delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn.task__delete .delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.ul#completed-tasks .task__label {
  text-decoration: line-through;
  color: #808080;
}

/* Edit Task */
.ul .task .task__input[type="text"] {
  display: none;
}

.ul .task.edit-mode .task__input[type="text"] {
  display: inline-block;
  width: 224px;
}

.ul .task.edit-mode .task__label {
  display: none;
}